<section class="card">

    <header>{{plant_name}}</header>
   
    <div class="card-body">
      <p>{{description}}</p>
      <p>{{sun_requirement}}</p>
      <p>{{pet_safe}}</p>
      <p>{{edible}}</p>
      <p>{{easy_care}}</p>
      <p>{{sunlight_needed}}</p>
      <p>{{water_needed}}</p>
      <p>{{growth_rate}}</p>
      <p>{{size}}</p>
      <p>{{user_email}}</p>

    </div>
  </a>
</section>