<section class="card">

  <a href="/post/{{id}}"></a>

    <header id="plant_name">{{plant_name}}</header>
   
    <div class="card-body">
      {{!-- needs looking at --}}
      <div>{{}}</div>
      <p id="description">{{description}}</p>
      <p id="sun_requirement">{{sun_requirement}}</p>
      <p id="pet_safe">{{pet_safe}}</p>
      <p id="edible">{{edible}}</p>
      <p id="easy_care">{{easy_care}}</p>
      <p id="water_needed">{{water_needed}}</p>
      <p id="growth_rate">{{growth_rate}}</p>
      <p id="size">{{size}}</p>
      <p id="user_email">{{user_email}}</p>

    </div>
  </a>
</section>