
    <link ref="stylesheet" href="/public/css/adopt.css">
</head>

<body>

<div>
    {{body}}
    <div class="plant-card">
        <div class="plant-card-header">
            {{plant_name}}
        </div>
        <div class="card-body">
            <p>
                {{description}}
            </p>
        </div>
        <div>
            <ol>
                <li>
                    sun: {{sun_requirement}}
                </li>
                <li>
                    pet safe: {{pet_safe}}
                </li>
                <li>
                    edible: {{edible}}
                </li>
                <li>
                    maintenance level: {{easy_care}}
                </li>
                <li>
                    <!-- (?) have_or_want 'is this still relevant since we are only doing adopting now?' -->
                </li>
            </ol>
        </div>
    </div>
</div>