<div>
    {{body}}
    <div class="plant-card">
        {{#each post as |plants|}}
        <div class="plant-card-header">
            {{plant_name}}
        </div>
        <div class="card-body">
            <p>
                {{description}}
            </p>
        </div>
        <div>
            <ol>
                <li>
                    sun: {{sun_requirement}}
                </li>
                <li>
                    pet safe: {{pet_safe}}
                </li>
                <li>
                    edible: {{edible}}
                </li>
                <li>
                    maintenance level: {{easy_care}}
                </li>
                <li>
                </li>
            </ol>
        </div>
        {{/each}}
    </div>
</div>