//HTML sent back to the client
<div>
    {{body}}
    <div class="post-card">
        <div class="post-card-header">
            {{plant_name}}
        </div>
        <div class="card-body">
            {{#if easy_care}}
            <p class="easy-care">
                great choice for beginner plant parents
            </p>
            <p>
                {{description}}
            </p>
            <ol>
                <li>
                    sun: {{sun_requirement}}
                </li>
                <li>
                    water: {{water_requirement}}
                </li>
            </ol>
            {{/if}}
            <div>
            </div>
        </div>

    </div>
</div>