//HTML sent back to the client
<div>
    {{body}}
    <div class="post-card">
        <div class="post-card-header">
            {{plant_name}}
        </div>
        <div class="card-body">
            {{#each newPost as |post|}}
            <p class="easy-care">
                your plant is now up for adoption :)
            </p>
            <p>
                {{description}}
            </p>
            <ol>
                <li>
                    sun: {{sun_requirement}}
                </li>
                <li>
                    water: {{water_requirement}}
                </li>
                <li>
                    growth rate: {{growth_rate}}
                </li>
            </ol>
            {{/each}}
            <div>
            </div>
        </div>

    </div>
</div>