//HTML sent back to the client
<div>
    {{body}}
    <div class="post-card">
        {{#each newPost as |post|}}
        <div class="post-card-header">
            {{> plant_name}}
            <div class="card-body">
                <p>
                    {{description}}
                </p>
                <ol>
                    <li>
                        sun: {{sun_requirement}}
                    </li>
                    <li>
                        water: {{water_requirement}}
                    </li>
                    <li>
                        growth rate: {{growth_rate}}
                    </li>
                    <li>
                        pet safe: {{pet_safe}}
                    </li>
                    <li>
                        edible: {{edible}}
                    </li>
                    <li>
                        easy care: {{easy_care}}
                    </li>
                    <li>
                        size: {{size}}
                    </li>
                </ol>
                <p>contact: {{user_email}}</p>
                {{/each}}

            </div>
        </div>

    </div>
</div>